[submodule "git"]
	path = git
	url = https://git.tch.25u.com/git/opensource/git/msysgit/git.git
[submodule "html"]
	path = doc/git/html
	url = https://git.tch.25u.com/git/opensource/git/git-htmldocs.git
[submodule "git-cheetah"]
	path = src/git-cheetah
	url = https://git.tch.25u.com/git/opensource/git/msysgit/git-cheetah.git
